NODE_ENV=The Node environment the program is to be started in - development/production
JWT_HASH=The string used to generate the Json Web Token used for authentication
JWT_EXPIRES_IN=Indicates the period after which the JWT token will expire - 60, "2 days", "10h", "7d" - https://www.npmjs.com/package/jsonwebtoken#:~:text=algorithm%20(default%3A%20HS256)-,expiresIn,-%3A%20expressed%20in%20seconds
